body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.setFlex {
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
#yodaButton {
    width: 130px;
    height: 90px;
    background-color: #7CB8EB;
    border-radius: 8px;
    border: solid rgb(13, 120, 219);
    color: white;
    font-size: 1.3vw;
}
#pirateButton {
    width: 130px;
    height: 90px;
    background-color: #7CB8EB;
    border-radius: 8px;
    border: solid rgb(13, 120, 219);
    color: white;
    font-size: 1.4vw;
}

.bigBox {
    width: 36%;
    height:70%;
    border: 6px solid #7CB8EB;
    border-radius: 20px;
    overflow: auto;
    box-sizing: border-box;
    padding: 16px;
}

.bigBox:focus {
    outline: none;
}

.par {
    text-align: center;
    margin-top: 40px;
    background-color: aliceblue;
    color: #7CB8EB;
    font-size: 1.5em;
}
.par2 {
    text-align: center;
    margin-top: 0px;
    background-color: aliceblue;
    color: #7CB8EB;
    font-size: 1.5em;
}

.button {
   width: 150px;
   height: 100px;
   background-color: #7CB8EB;
   border-radius: 8px;
   border: solid rgb(13, 120, 219);
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   color: white;
   cursor: pointer;
   font-size: 1.2vw;
}

